*{
    padding: 0;
    margin: 0;

/* ====== control panel ======= */

    --border-radius: 25px;
    --header-color: linear-gradient(37deg, rgba(114,62,231,1) 0%, rgba(220,125,255,1) 100%);
    --shadow: 3px 3px 10px rgba(221, 226, 239, 0.43);
    --latestWork-size: 60em;
    --latestWork-color1: linear-gradient(321deg, rgba(246,152,255,1) 0%, rgba(255,255,255,1) 100%);
    --latestWork-color2: linear-gradient(173deg, rgba(102,79,210,1) 0%, rgba(150,111,187,1) 100%);
    --latestWork-color3: linear-gradient(180deg, rgba(80,119,228,1) 0%, rgba(141,181,255,1) 100%);
    --latestWork-color4: linear-gradient(56deg, rgba(92,42,186,1) 0%, rgba(207,141,255,1) 100%);
    --contactBtn-size: 3rem;
    --transitionTime: 0.3s;
}

/* ===== Header ===== */

header{
    width: 100%;
    height: 90vh;
    background-image: url(icon1.svg), url(bg-accent.svg), var(--header-color);
    background-position: bottom, top;
    background-repeat: no-repeat;
    background-size: cover;

    display: flex;
    justify-content: center;
    align-items: center;    
    flex-direction: column;

    mask-image: url(icon1-bg.svg);
    mask-size: cover;
    mask-position: bottom;    
}
header #icon1{
    width: 1300px;
}
header h1{
    color: white;
    font-family: "DM Serif Text", Serif, 'Times New Roman', Times;
    font-style: normal;
    font-weight: 550;
    font-size: 6.5em;
    margin: 0.5rem;
}
header h2{
    color: white;
    font-size: 1em;
    font-family: "Open Sans", Verdana, Geneva, Tahoma, sans-serif;
    font-weight: 400;
    text-align: center;
}

/* ==== contact Button ==== */

.buttonHolder{
    height: 90vh;
    top: 0;
    left: calc(50% - var(--contactBtn-size) * 2);
    border: 2px solid;

    position: absolute;
    display: flex;
    align-items: end;
}

.contactBtn{
    width: calc(var(--contactBtn-size) * 4);
    height: var(--contactBtn-size);
    border-radius: 3rem;
    box-shadow: 0px;
    border: 0px;

    font-size: 0.7rem;
    font-family: "Open Sans", Verdana, Geneva, Tahoma, sans-serif;
    letter-spacing: 2px;
    font-weight: 650;
    color: rgb(110, 3, 191);
    background-color: rgb(255, 255, 255);

    cursor: pointer;
}
#headerContactBtn{
    margin-bottom: 90%;
    position: static;
    opacity: 1;

    transition: opacity var(--transitionTime);
}
#fixedContactBtn{
    width: calc(var(--contactBtn-size) * 1.5);
    height: calc(var(--contactBtn-size) * 1.5);
    bottom: 5%;
    right: 5%;
    background-color:rgb(255, 76, 94);
    color: white;
    position: fixed;
    opacity: 0;

    transition: opacity var(--transitionTime);
}

.buttonHolder[data-scroll-position="1"] #headerContactBtn {
    opacity: 0;

    transition: opacity var(--transitionTime);
  }
.buttonHolder[data-scroll-position="1"] #fixedContactBtn {
    opacity: 1;

    transition: opacity var(--transitionTime);
  }

/* ===== Body ===== */

body{
    background-color: rgb(244, 246, 251);
}
.content{  
    justify-content: center;
    align-items: center;

    display: flex;
    flex-direction: column;
}
.content h1{
    font-size: 3rem;
    font-family: "DM Serif Text", Serif, 'Times New Roman', Times;
    font-style: normal;
    font-weight: 550;
    text-align: center;
    letter-spacing: 0.1rem;
}
.content h2{
    font-size: 1rem;
    font-family: "Open Sans", Verdana, Geneva, Tahoma, sans-serif;
    font-style: normal;
    font-weight: 500;
    text-align: center;
    letter-spacing: 0.1rem;
}
.content > section{
    margin-top: 8em;
}
.content section section{
    margin-top: 4em;
}

/* ===== Service Section ===== */

.serviceList{
    width: 60vw;
    height: 70vh;
    display: grid;
    grid-template-columns: repeat(3, auto);
    grid-gap: 50px;
}
.serviceList > div{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.serviceIcon{
    --iconSize: 75px;
    width: var(--iconSize);
    height: var(--iconSize);
    border-radius: 100%;
    margin: 1rem;

    background-color: blueviolet;
}
.serviceList h1{
    font-size: 1.2rem;
    font-family: Roboto, Verdana, Geneva, Tahoma, sans-serif;
    margin-bottom: 0.5rem;
}
.serviceList h2{
    font-size: 1rem;
    font-family: Serif, 'Times New Roman', Times;
    color: rgb(113, 113, 113);
}
/* ===== Client Section ===== */

.clientList{
    display: flex;
    justify-content: center;
    align-items: center;
}
.clientList #clientsIcon{
    width: 10rem;
    height: 6.5rem;
    --margin-clients: 20px;
    margin: calc(var(--margin-clients)/2);
    margin-top: var(--margin-clients);
    margin-bottom: var(--margin-clients);
    border-radius: 15px;

    background-color: white;
    box-shadow: var(--shadow);

    display: flex;
    justify-content: center;
    align-items: center;
}
.clientList img{
    width: 70%;
}
/* ===== Latest Works Section ===== */

.latestWorks{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.works, .workImage{
    width: var(--latestWork-size);
    height: calc(var(--latestWork-size)/2);
    position: absolute;
    background-size: cover;
    z-index: 99;
}
.works{
    margin-bottom: 5em;
    border-radius: var(--border-radius);
    box-shadow: var(--shadow);
    position: relative;
    display: flex;
}
#workImage1{
    background-image: url(./latestWork/dongengin.png);
}
#workBg1{
    background: var(--latestWork-color1);
}
#workImage2{
    background-image: url(./latestWork/swypebite.png);
}
#workBg2{
    background: var(--latestWork-color2);
}
#workImage3{
    background-image: url(./latestWork/crisp.png);
}
#workBg3{
    background: var(--latestWork-color3);
}
#workImage4{
    background-image: url(./latestWork/hoopsai.png);
}
#workBg4{
    background: var(--latestWork-color4);
}

.works:nth-child(odd){
    justify-content: start;
}
.works:nth-child(even){;
    justify-content: end;
}
.works::after{
    content: '';
    display: block;
    width: 50%;
    height: 100%;
    background-color: white;
    z-index: 1;
}
.works:nth-child(odd):after{
    border-top-left-radius: var(--border-radius);
    border-bottom-left-radius: var(--border-radius);
}
.works:nth-child(even):after{
    border-top-right-radius: var(--border-radius);
    border-bottom-right-radius: var(--border-radius);
}
.works h1, .works h2{
    text-align: left;
}
.workContent{
    margin: 2px, solid;
    width: 30%;
    margin: 15%;
    margin-bottom: 0;
    bottom: 5rem;
    position: absolute;
    
    display: flex;
    flex-direction: column;

    z-index: 99;
}
.workContent h1{
    font-size: 2rem;
}
.workBtn, #otherWorkBtn{
    width: 12rem;
    height: 3rem;
    border-radius: 3rem;

    font-size: 0.8rem;
    font-family: "Open Sans", Verdana, Geneva, Tahoma, sans-serif;
    color: rgb(255, 255, 255);
    letter-spacing: 2px;
    font-weight: 650;

    box-shadow: 0px;
    border: 0px;

    background: linear-gradient(325deg, rgb(112, 112, 255) 0%, rgb(103, 230, 255) 100%);
    cursor: pointer;
}
#otherWorkBtn{
    background: rgba(255, 255, 255, 0);
    --otherWorkBtn-color: rgb(255, 63, 82);
    color: var(--otherWorkBtn-color);
    border: 1px, solid, var(--otherWorkBtn-color);
}

/* ===== Footer ===== */

footer{
    height: 130vh;
    background-image: url(footer-bg.svg), linear-gradient(125deg, rgb(224, 87, 255) 0%, rgb(56, 6, 120) 100%);
    background-repeat: no-repeat;
    background-size: cover;
    color: white;

    display: flex;
    align-items: center;
    justify-content: end;
    flex-direction: column;

    mask-image: url(footer.svg);
    mask-size: cover;
    mask-position: bottom;
}
.footerContent{
    width: 70vw;
    height: 80vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    bottom: 1em;
}
footer h1{
    font-size: 3.5rem;
}
#footerContactBtn{
    background-color: rgb(255, 76, 94);
    color: white;
    margin: 3em;
}
